[customizations.iso]
volume_id = "Homelab"
application_id = "uBlue"
publisher = "CedarLaneStudio"

[customizations.installer.kickstart]
contents = """
# %pre

#     #! /usr/bin/env bash

#     # Get only disk names and sort by sequence number
#     disks=($(lsblk --noheadings --output NAME --sort DISK-SEQ --nodeps --include 3,8,112,202,259))
#     echo "disks=$disks"

#     # Select the first disk and use it for installation
#     disk0=${disks[0]}
#     echo "ignoredisk --only-use=$disk0" > /tmp/disk-install

# %end

# Use graphical install
graphical

# Leverage the preinstallation script
%include /tmp/disk-install

# Erase all partitions and initialize the disk label
clearpart --all --initlabel

# Automatically create partitions
autopart

%post
user --name=homelab --password=$y$j9T$OeAa1Q4YZoUlHMatv7I2z.$BBe3Q9vw7/vcOfDAj7sbQTWHWCtxFO8oItP8bYYgbr5 --iscrypted --groups=wheel --sshkey="ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIB/wjzufkGyBkDTqnmrigrS6wmwlLyi0Vfn0nZZkNp48 chris@bluefin"
bootc switch --mutate-in-place --transport registry ghcr.io/phi2039/ublue-homelab:latest
%end
"""

# [customizations.installer.modules]
# enable = [
#   "org.fedoraproject.Anaconda.Modules.Storage",
#   "org.fedoraproject.Anaconda.Modules.Users",
#   "org.fedoraproject.Anaconda.Modules.Network",
#   "org.fedoraproject.Anaconda.Modules.Timezone",
#   "org.fedoraproject.Anaconda.Modules.Runtime"
# ]
# disable = [
#   "org.fedoraproject.Anaconda.Modules.Security",
#   "org.fedoraproject.Anaconda.Modules.Services",
#   "org.fedoraproject.Anaconda.Modules.Subscription"
# ]
